<div class="employee-detalis-form container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-3 header">
        <h3 class="mb-0" style="color: var(--secondary-color);">{{ isEditMode ? 'Edit Employee' : 'Add Employee' }}
        </h3>
        <app-reusable-btn backgroundColor="var(--primary-color)" textColor="var(--secondary-color)"
            borderColor="var(--primary-color)" (buttonClick)="backToList()">
            Back
        </app-reusable-btn>
        <!-- <a routerLink="/employee" class="btn btn-primary">Back</a> -->
    </div>
    <div class="mt-4">
        <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" id="firstName" class="form-control" formControlName="firstName" required
                        [class.is-invalid]="
          employeeForm.get('firstName')?.invalid &&
          employeeForm.get('firstName')?.touched
        " />
                    @if(employeeForm.get('firstName')?.invalid &&
                    employeeForm.get('firstName')?.touched) {
                    <div class="invalid-feedback">First Name is required.</div>
                    }
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" id="lastName" class="form-control" formControlName="lastName" required
                        [class.is-invalid]="
          employeeForm.get('lastName')?.invalid &&
          employeeForm.get('lastName')?.touched
        " />
                    @if(employeeForm.get('lastName')?.invalid &&
                    employeeForm.get('lastName')?.touched) {
                    <div class="invalid-feedback">Last Name is required.</div>
                    }
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" class="form-control" formControlName="email" required
                        [class.is-invalid]="employeeForm.get('email')?.invalid && employeeForm.get('email')?.touched" />
                    @if (employeeForm.get('email')?.invalid && employeeForm.get('email')?.touched) {
                    <div class="invalid-feedback">Valid email is required.</div>
                    }
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="text" id="phoneNumber" class="form-control" formControlName="phoneNumber" required
                        [class.is-invalid]="
          employeeForm.get('phoneNumber')?.invalid &&
          employeeForm.get('phoneNumber')?.touched
        " />
                    @if(employeeForm.get('phoneNumber')?.invalid &&
                    employeeForm.get('phoneNumber')?.touched) {
                    <div class="invalid-feedback">
                        @if(employeeForm.get('phoneNumber')?.errors?.['required']) {
                        <span>Phone Number is required.</span>
                        } @if(employeeForm.get('phoneNumber')?.errors?.['pattern']) {
                        <span>Invalid Phone Number (10 digits).</span>
                        }
                    </div>
                    }
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <label for="gender" class="form-label">Gender</label>
                    <select id="gender" class="form-select" formControlName="gender" required [class.is-invalid]="
          employeeForm.get('gender')?.invalid &&
          employeeForm.get('gender')?.touched
        ">
                        <option value="" disabled>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                    @if(employeeForm.get('gender')?.invalid &&
                    employeeForm.get('gender')?.touched) {
                    <div class="invalid-feedback">Gender is required.</div>
                    }
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <label for="dateOfBirth" class="form-label">Date of Birth</label>
                    <input type="date" id="dateOfBirth" class="form-control" formControlName="dateOfBirth" required
                        [class.is-invalid]="
          employeeForm.get('dateOfBirth')?.invalid &&
          employeeForm.get('dateOfBirth')?.touched
        " />
                    @if(employeeForm.get('dateOfBirth')?.invalid &&
                    employeeForm.get('dateOfBirth')?.touched) {
                    <div class="invalid-feedback">
                        @if(employeeForm.get('dateOfBirth')?.errors?.['required']) {
                        <span>Date of Birth is required.</span>
                        } @if(employeeForm.get('dateOfBirth')?.errors?.['pattern']) {
                        <span>Date format should be YYYY-MM-DD.</span>
                        }
                    </div>
                    }
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <label for="departmentId" class="form-label">Department ID</label>
                    <input type="number" id="departmentId" class="form-control" formControlName="departmentId" required
                        [class.is-invalid]="
          employeeForm.get('departmentId')?.invalid &&
          employeeForm.get('departmentId')?.touched
        " />
                    @if(employeeForm.get('departmentId')?.invalid &&
                    employeeForm.get('departmentId')?.touched) {
                    <div class="invalid-feedback">
                        Department ID is required and must be a number.
                    </div>
                    }
                </div>


                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <label for="userName" class="form-label">Username</label>
                    <input type="text" id="userName" class="form-control" formControlName="userName" required
                        [class.is-invalid]="
        employeeForm.get('userName')?.invalid &&
        employeeForm.get('userName')?.touched
      " />
                    @if(employeeForm.get('userName')?.invalid &&
                    employeeForm.get('userName')?.touched) {
                    <div class="invalid-feedback">Username is required.</div>
                    }
                </div>


                
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" class="form-control" formControlName="password" required
                        [class.is-invalid]="
        employeeForm.get('password')?.invalid &&
        employeeForm.get('password')?.touched
      " />
                    @if(employeeForm.get('password')?.invalid &&
                    employeeForm.get('password')?.touched) {
                    <div class="invalid-feedback">
                        @if(employeeForm.get('password')?.errors?.['required']) {
                        <span>Password is required.</span>
                        } @if(employeeForm.get('password')?.errors?.['minlength']) {
                        <span>Password must be at least 6 characters.</span>
                        }
                    </div>
                    }
                </div>
                

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <label for="roleId" class="form-label">Role ID</label>
                    <input type="number" id="roleId" class="form-control" formControlName="roleId" required
                        [class.is-invalid]="
          employeeForm.get('roleId')?.invalid &&
          employeeForm.get('roleId')?.touched
        " />
                    @if(employeeForm.get('roleId')?.invalid &&
                    employeeForm.get('roleId')?.touched) {
                    <div class="invalid-feedback">
                        Role ID is required and must be a number.
                    </div>
                    }
                </div>

                <div class="col-12 col-md-6 mb-3">
                    <label for="address" class="form-label">Address</label>
                    <textarea id="address" class="form-control" formControlName="address" rows="1" required
                        [class.is-invalid]="
          employeeForm.get('address')?.invalid &&
          employeeForm.get('address')?.touched
        "></textarea>
                    @if(employeeForm.get('address')?.invalid &&
                    employeeForm.get('address')?.touched) {
                    <div class="invalid-feedback">Address is required.</div>
                    }
                </div>
            </div>

            <!-- <button type="submit" class="btn btn-success" [disabled]="employeeForm.invalid">{{ isEditMode ? 'Update' :
                'Create'
                }}</button>
            <a routerLink="/employees" class="btn btn-secondary ms-2">Go to Employee List</a> -->

            <div class="mt-3">
                <div class="alert alert-info" role="alert" *ngIf="message">{{message}}</div>
            </div>

            <div class="d-flex gap-3 flex-col">
                <app-reusable-btn backgroundColor="var(--primary-color)" textColor="var(--secondary-color)"
                    borderColor="var(--primary-color)" type="submit" fontSize="18px">
                    Save
                </app-reusable-btn>
                <app-reusable-btn textColor="var(--secondary-color)" borderColor="var(--primary-color)" type="button"
                    fontSize="18px">
                    Reset
                </app-reusable-btn>
            </div>
        </form>
    </div>
</div>