<div class="container-fluid p-0">
    <!-- page header -->
    <mat-grid-list cols="4" rowHeight="70px" class="page-header">
        <mat-grid-tile colspan="4">
            <div class="d-flex align-items-center justify-content-between h-100 w-100 px-3">
                <div>
                    <h4 class="fw-semibold mb-0">
                        Project Status
                    </h4>
                </div>
                <app-custom-button-component label="Add Task" icon="add" type="primary" variant="filled"
                    [routerLink]="['add-task']" [queryParams]="{ projectId: selectedProjectId }"
                    [disabled]="!selectedProjectId" tooltip="Select project first"></app-custom-button-component>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <!-- page content -->
    <div class="w-100 d-flex flex-column h-100 p-3">
        <!-- filter section -->
        <div>
            <!-- basic filter -->
            <div
                class="d-flex flex-column flex-xxl-row align-items-start align-items-xxl-center filter-section justify-content-xxl-between justify-content-start gap-3 pb-3">
                <div class="me-3 d-flex gap-3">
                    <mat-form-field id="project-search-for-status" class="small" [hideRequiredMarker]="true"
                        [floatLabel]="'auto'" appearance="outline">
                        <mat-label>Select Project</mat-label>
                        <mat-select required aria-placeholder="Select Project Type" [(value)]="selectedProjectId">
                            <mat-option value="">-- None --</mat-option>
                            @for (project of (projectDropDown$ | async); track project.id) {
                            <mat-option [value]="project.id">
                                {{ project.name }}
                            </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>

                    <app-custom-button-component label="Search" type="primary" variant="filled"
                        (click)="onSearch()"></app-custom-button-component>
                    <app-custom-button-component label="Reset" type="primary" variant="outlined"
                        (click)="onReset()"></app-custom-button-component>
                </div>

                <div class="d-flex align-items-center gap-3">
                    <app-custom-button-component label="Dashboard" icon="dashboard" type="navigation" variant="filled"
                        (click)="changeView('dashboard')"></app-custom-button-component>
                    <app-custom-button-component label="List View" icon="list" type="navigation" variant="filled"
                        (click)="changeView('list')"></app-custom-button-component>
                    <app-custom-button-component label="Work Log" icon="access_time" type="navigation"
                        variant="filled"></app-custom-button-component>
                    <app-custom-button-component label="Filter" icon="filter_list" type="navigation"
                        data-bs-toggle="collapse" data-bs-target="#filterSection"
                        variant="filled"></app-custom-button-component>
                </div>
            </div>

            <!-- advance filter -->
            <div id="filterSection" class="collapse filter-section py-3">
                <form [formGroup]="taskFilterForm" (ngSubmit)="onSearch()">
                    <div class="row mb-3 p-0 text-white gy-3 gx-3">
                        <!-- Project -->
                        <div class="col col-md-6 col-xl-3">
                            <mat-form-field class="small" [hideRequiredMarker]="true" [floatLabel]="'auto'"
                                appearance="outline">
                                <mat-label>Search Project</mat-label>
                                <input matInput type="text" placeholder="Search" formControlName="searchTerm">
                            </mat-form-field>
                        </div>

                        <!-- Priority -->
                        <div class="col col-md-6 col-xl-3">
                            <mat-form-field class="small" appearance="outline">
                                <mat-label>Priority</mat-label>
                                <mat-select formControlName="priority">
                                    <mat-option>-- None --</mat-option>
                                    <mat-option value="High">High</mat-option>
                                    <mat-option value="Medium">Medium</mat-option>
                                    <mat-option value="Low">Low</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col col-md-6 col-xl-3">
                            <mat-form-field class="small" [hideRequiredMarker]="true" [floatLabel]="'auto'"
                                appearance="outline">
                                <mat-label>Assigned To</mat-label>
                                <mat-select aria-placeholder="Select Employee" formControlName="assignedTo">
                                    <mat-option value="">-- None --</mat-option>
                                    @for (employee of (employeeDropDown$ | async); track employee.id) {
                                    <mat-option [value]="employee.id">
                                        {{ employee.name }}
                                    </mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col col-md-6 col-xl-3">
                            <mat-form-field class="small" appearance="outline" [hideRequiredMarker]="true"
                                [floatLabel]="'auto'">
                                <mat-label>Task Status</mat-label>
                                <mat-select aria-placeholder="Select Task Status" formControlName="statusId">
                                    <mat-option value="">-- None --</mat-option>
                                    @for (taskStatus of (taskStatusDropDown$ | async); track taskStatus.id){
                                    <mat-option [value]="taskStatus.id">
                                        {{taskStatus.name}}
                                    </mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="d-flex align-items-center gap-3">
                        <app-custom-button-component label="Search" type="primary" variant="filled"
                            buttonType="submit"></app-custom-button-component>
                        <app-custom-button-component label="Reset" type="primary" variant="outlined"
                            buttonType="reset"></app-custom-button-component>
                    </div>
                </form>
            </div>
        </div>

        <!-- main page content -->
        <div class="py-3">
            @switch (viewMode$ | async) {
            @case ('dashboard') {
            <mat-card appearance="outlined" class="outlined-blur task-board w-100">
                <app-task-dashboard-view [groupedTaskColumns$]="groupedColumns$"
                    class="h-100 d-flex w-100 overflow-x-auto gap-3"></app-task-dashboard-view>
            </mat-card>
            }
            @case ('list') {
            <mat-card appearance="outlined" class="outlined-blur w-100">
                <app-task-list-view [tasks$]="tasks$" [length]="totalTasks" [pageSize]="taskQueryParams$.value.pageSize"
                    (pageChange)="onPageChange($event)">
                </app-task-list-view>
                <!-- <app-custom-table [dataSource$]="tasks$" [displayedColumns]="taskDisplayedColumns" [length]="totalTasks"
                    [pageSize]="taskQueryParams$.value.pageSize" (pageChange)="onPageChange($event)">
                </app-custom-table> -->
            </mat-card>
            }
            @default {
            <p>No view selected</p>
            }
            }
        </div>
    </div>
</div>