<div class="container-fluid p-0">
    <!-- Grid with full-width rows -->
    <mat-grid-list cols="4" rowHeight="70px" class="page-header">
        <mat-grid-tile colspan="4">
            <div class="d-flex align-items-center justify-content-between h-100 w-100 px-3">
                <div>
                    <h4 class="fw-semibold mb-0">
                        Project Status
                    </h4>
                </div>
                <app-custom-button-component label="Add Task" icon="add" type="primary"
                    variant="filled" [routerLink]="['add-task']"></app-custom-button-component>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <div class="w-100 d-flex flex-column h-100 p-3">
        <div class="filter-section pb-4">
            <div
                class="d-flex flex-column flex-xxl-row align-items-start align-items-xxl-center justify-content-xxl-between justify-content-start gap-3">

                <div class="me-3 d-flex gap-3">
                    <mat-form-field id="project-search-for-status" class="small" [hideRequiredMarker]="true"
                        [floatLabel]="'auto'" appearance="outline">
                        <mat-label>Select Project</mat-label>
                        <mat-select required aria-placeholder="Select Project Type" [(value)]="selectedProjectId">
                            <mat-option value="">-- None --</mat-option>
                            @for (project of (projectDropDown$ | async); track project.Id) {
                            <mat-option [value]="project.Id">
                                {{ project.Name }}
                            </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>

                    <app-custom-button-component label="Search" type="primary"
                        variant="filled" (click)="onSearch()"></app-custom-button-component>
                    <app-custom-button-component label="Reset" type="primary"
                        variant="outlined" (click)="onReset()"></app-custom-button-component>
                </div>

                <div class="d-flex align-items-center gap-3">
                    <app-custom-button-component label="Dashboard" icon="dashboard" type="navigation"
                        variant="filled"></app-custom-button-component>
                    <app-custom-button-component label="List View" icon="list" type="navigation"
                        variant="filled"></app-custom-button-component>
                    <app-custom-button-component label="Work Log" icon="access_time" type="navigation"
                        variant="filled"></app-custom-button-component>
                    <app-custom-button-component label="Filter" icon="filter_list" type="navigation"
                        variant="filled"></app-custom-button-component>
                </div>
            </div>
        </div>

        <div class="py-4">
            <mat-card appearance="outlined" class="outlined-blur task-board w-100 d-flex">
                <div class="d-flex w-100 gap-3 overflow-x-auto h-100">
                    @for (column of (groupedColumns$ | async); track column.id) {
                    <app-status-card [statusColumn]="column" class="flex-grow-1">
                    </app-status-card>
                    }
                </div>
            </mat-card>
        </div>
    </div>
    <!-- card -->

</div>