.mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align::before {
    display: none !important;
}

.card-pill {
    background-color: #4fc3f7;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 8px;
    border-radius: 10px;
    min-width: 20px;
    text-align: center;
}

/* The title within the mat-card-header */
mat-card-title.task-title {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
}

.task-card {
    margin-bottom: 0.5rem;
    box-shadow: none !important;
    border: 1px solid #4fc3f7;
    border-radius: 16px;
    height: 150px;
}

.task-content {
    padding-top: 8px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.priority-select-field {
    width: 100px;
}

.priority-select-field .mat-mdc-text-field-wrapper {
    padding: 0 8px;
    border-radius: 4px;
    background-color: #f7e1b5;
}


.priority-select-field .mdc-notched-outline {
    display: none;
}

.priority-option {
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

/* Color classes for each priority option */
.priority-low {
    background-color: #bbdefb;
}

.priority-medium {
    background-color: #f7e1b5;
}

.priority-high {
    background-color: #ffcdd2;
}

/* Assignee name styling */
.assignee-name {
    font-size: 14px;
    font-weight: 500;
    color: #444;
}

/* final */
.status-card {
    min-width: 300px;
}   

.task-board {
    height: 500px;
}

.filter-section.collapse {
    transition: max-height 0.4s ease;
    overflow: hidden;
}

.filter-section.collapse:not(.show) {
    max-height: 0;
}

.filter-section.collapse.show {
    max-height: 500px;
}