.mat-mdc-row {
    height: 50px;
}

.mat-mdc-row:hover{
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}

.mat-mdc-header-row {
    height: 60px;
    background-color: var(--secondary-background-color);
}

.mat-mdc-row:hover mat-icon {
  color: var(--secondary-text-color) !important;
}

/* New */
