
.status-card{
  background-color: var(--secondary-background-color);
  height: 100%;
  min-width: 300px;
}

.status-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  border-bottom: 1px solid var(--outline-color);
}

.status-card-content {
  padding: 8px;
  overflow-y: auto; 
  flex-grow: 1;
}

.card-pill {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 8px;
  border-radius: 10px;
  min-width: 20px;
  text-align: center;
}

