<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-3 header">
        <h3 class="mb-0" style="color: var(--secondary-color);">Employees</h3>
        <app-reusable-btn backgroundColor="var(--primary-color)" textColor="var(--secondary-color)"
            borderColor="var(--primary-color)" (buttonClick)="navigateToAddEmployee()" fontSize="16px">
            Add Employee
        </app-reusable-btn>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Address</th>
                    <th scope="col">Department</th>
                    <th scope="col">Role</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (employee of employees; track employee.Id)
                {
                <tr>
                    <td>{{employee.FirstName}} {{employee.LastName}}</td>
                    <td>{{employee.Email}}</td>
                    <td>{{employee.PhoneNumber}}</td>
                    <td>{{employee.Gender}}</td>
                    <td>{{employee.DateOfBirth | date:'shortDate'}}</td>
                    <td>{{employee.Address}}</td>
                    <td>{{employee.DepartmentName}}</td>
                    <td>{{employee.RoleName}}</td>
                    <td>
                        <div class="btn-group gap-1" role="group" aria-label="Employee Actions">
                            <app-reusable-btn backgroundColor="var(--component-secondary-bg-color)"
                                textColor="var(--secondary-color)" borderColor="var(--primary-color)"
                                (buttonClick)="viewDetails(employee.Id)" fontSize="14px">
                                View
                            </app-reusable-btn>
                            <app-reusable-btn backgroundColor="var(--component-secondary-bg-color)"
                                textColor="var(--secondary-color)" borderColor="var(--primary-color)"
                                (buttonClick)="navigateToEditEmployee(employee.Id)" fontSize="14px">
                                Edit
                            </app-reusable-btn>
                            <app-reusable-btn backgroundColor="var(--component-secondary-bg-color)"
                                textColor="var(--secondary-color)" borderColor="var(--primary-color)"
                                (buttonClick)="deleteEmployee(employee.Id)" fontSize="14px">
                                Delete
                            </app-reusable-btn>
                        </div>
                    </td>
                </tr>
                } @empty{
                <tr>
                    <td colspan="9" class="text-center text-muted">No employees found.</td>
                </tr>
                }
            </tbody>
        </table>
        <!-- Pagination -->
        <!-- Pagination -->
        <div class="row m-0">
            <div class="col-12 d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-center justify-content-sm-end mb-3 p-3"
                style="gap: 10px;">

                <!-- Select Items Per Page -->
                <div class="d-flex flex-row align-items-center">
                    <h5 class="mb-0 me-1">Items per page</h5>
                    <select class="form-select w-auto me-2" [(ngModel)]="pageSize" (change)="onPageSizeChange()">
                        @for (size of pageSizeOptions; track size) {
                        <option [value]="size">{{ size }}</option>
                        }
                    </select>
                </div>

                <!-- Pagination Info and Buttons -->
                <div class="d-flex flex-row align-items-center">
                    <h5 class="mb-0 me-1">
                        Page {{startCount}} - {{ endCount }}
                         of {{ totalEmployee }}
                    </h5>

                    <ul class="pagination justify-content-end mb-0">
                        <li class="page-item" [class.disabled]="!hasPreviousPage">
                            <button class="page-link" (click)="previousPage()" [disabled]="!hasPreviousPage">
                                <i class="bi bi-caret-left-fill" style="color: var(--primary-color);"></i>
                            </button>
                        </li>

                        <li class="page-item" [class.disabled]="!hasNextPage">
                            <button class="page-link" (click)="nextPage()" [disabled]="!hasNextPage">
                                <i class="bi bi-caret-right-fill" style="color: var(--primary-color);"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- <div class="text-center mt-3">
        <div class="alert alert-info" role="alert" *ngIf="message">{{message}}</div>
    </div> -->
    </div>